<div>
    <h1 style="text-align: center;">Order Details</h1>

      <table width="500" border="1" bgColor="yellow">
        <tr>
          <th>Order Id</th>
          <th>Category</th>
          <th>Product Name</th>
          <th>Total Price</th>
          <th>Creation Time</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let or of order" bgColor="lightblue">
          <td>{{or.orderId}}</td>
          <td>{{or.category}}</td>
          <td>{{or.productName}}</td>
          <td>{{or.totalPrice}}</td>
          <td>{{or.creationTime}}</td>
          <td><button (click)="changeStatus(or.orderId)" class="btn btn-success">{{or.status}}</button>
        </tr>
      </table>
      
</div>