.brand{
    font-size:25px;
    font-weight: bold;
}
.menu{
    font-size: 25px;
}
.menu a{
    margin-left: 40px;
}
.icons span{
    margin-right: 20px;
}
a{
    color: white;
    text-decoration: none;
}